@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap");

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 span {
  color: #243e63;
  line-height: 1.25;
  text-align: center;
  font-size: 16px;
}
nav {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
}
ul {
  display: flex;
}
li {
  list-style-type: none;
  padding-left: 16px;
}
.logo {
  width: 80px;
  height: 80px;
}
.nav__logo--title {
  font-size: 24px;
  font-weight: 800;
  font-style: bold;
  padding-left: 24px;
}
.row {
  width: 100%;
  max-width: 1200px;
  margin: auto 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.purple {
  color: #6415ff;
}
.row__nav-row {
  width: 100%;
  max-width: 1200px;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.nav__container {
  height: 60px;
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
}
.nav__links {
  justify-content: center;
  align-items: center;
  list-style: none;
  display: flex;
  padding: 2 0;
}
.nav__link {
  justify-items: right;
  margin-left: 16px;
  font-size: 16px;
  text-decoration-line: none;
  font-weight: bold;
  color: black;
  padding: 8px;
}
.nav__link-btn {
  margin: 16px;
  height: 60px;
  font-size: 16px;
  background-color: transparent;
  width: auto;
  border: none;
  background-color: #6415ff;
  color: #fff;
  border-radius: 999px;
  transition: all 300ms ease;
  cursor: pointer;
  padding: 16px 32px;
  align-items: center;
}

/* header*/
.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.header__container {
  padding: 40px 10px;
  width: 100%;
}

.header__description {
  width: calc(100% - 60%);
  display: flex;
  align-items: flex-start;
  font-size: 16px;
  flex-wrap: wrap;
}

h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 40px;
  justify-content: start;
}
.header__description--para {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 25px;
}

.header__customers--title {
  margin-top: 80px;
  margin-bottom: 16px;
  font-size: 15px;
  text-align: start;
  color: #a0aec0;
}
.header__email {
  width: 100%;
  max-width: 448px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #243e63;
}
.header__email--input {
  width: 100%;
  border-radius: 500px;
  border: 2px solid rgb(229, 231, 235);
  padding: 20px, 192px, 20px, 32px;
  color: rgb(36, 62, 99);
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  transition: border 300ms;
}
.header__email--btn {
  margin: 8px;
  height: calc(100%-16px);
  border-radius: 500px;
  width: 160px;
  border: none;
  background-color: #6415ff;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  transition: all 300ms ease;
  cursor: pointer;
  z-index: 2;
}

.customer__img {
  width: auto;
  height: 27px;
}

.header__img--wrapper {
  display: flex;
  justify-content: flex-end;
}
/*


main features



*/

.nav__container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 10px;
}
.section__tag {
  font-size: 18px;
  margin: 24px 0px;
  justify-content: center;
}
.section__title {
  font-size: 64px;
  margin: 24px 0px;
  justify-content: center;
}
.section__para {
  font-size: 16px;
  margin-bottom: 24px;
}
.nav__container {
  padding: 80px 0;
}
.row__narrow {
  width: 100%;
  max-width: 1200px;
  margin: auto 0;
  display: flex;
  flex-direction: column;
}
.features {
  display: flex;
  flex-wrap: wrap;
  margin-top: 36px;
  margin-left: 16px;

  align-items: center;
}
.feature {
  width: calc(100% / 3);
  justify-content: space-between;
  padding: 24px, 24px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.feature__row {
  display: flex;

  align-items: flex-start;
}
.feature__img--wrapper {
  display: flex;
  justify-content: left;
  padding: 20px;
  border: 2px solid #e5e7eb;
  border-radius: 50px;
}
.feature__title {
  font-size: 24px;
  margin-bottom: 16px;
}
/*
  
  Quality
  
  
  */
.row__quality {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.header__description--quality {
  width: 50%;
  display: flex;
  margin: auto 0;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  padding: 16px 32px;
}
.quality__img--wrapper {
  border-radius: 4px;
  border: 1px solid rgb(229, 231, 235);
  width: 100%;
  flex: 1;
  height: auto;
  display: flex;
  justify-content: center;
  padding: 16px 32px;
}

.quality__img {
  width: 100%;
  height: auto;
  display: flex;
}

/* easy to get started */
.section__easy--wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.steps__description {
  width: 50%;
  display: flex;
  margin: auto 0;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  padding: 16px 32px;
}
.section__easy--img-wrapper {
  border-radius: 4px;
  border: 1px solid rgb(229, 231, 235);
  width: 100%;
  flex: 1;
  height: auto;
  display: flex;
  justify-content: center;
  padding: 16px 32px;
}
.section__easy--img {
  width: 100%;
  height: auto;
  display: flex;
}
.section__tag {
  font-size: 24px;
  margin: 24px 0px;
  justify-content: center;
  color: #6415ff;
}
.section__title {
  font-size: 48px;
  margin: 24px 0px;
  display: flex;
  flex-direction: column;
  
}
.step {
  display: flex;
  align-items: flex-start;
  margin-top: 32px;
}
.steps__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 32px;
}
.step__number {
  font-size: 24px;
  font-weight: 300;
  color: gray;
  margin-right: 16px;
  display: flex;
  flex-direction: column;
}
.step__description {
  display: flex;
  flex-direction: column;
}
.step__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
}
.step__para {
  font-size: 16px;

  display: flex;
  flex-direction: column;
}
/* values*/
.values__container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 32px; 
  flex: 1;
}
.values__item {
  color: #243e63;
  display: flex ;
  flex: 1;
  text-align: center;
  min-width: 200px;
  padding: 16px 24px;
}
.value__img--wrapper {
  
  flex: 1;
  display: flex;
  
  justify-content: flex-end;
  padding: 16px 32px;
}
  
.value__img{
  width: 500px;
  height: auto;
}


.step__para {
  font-size: 16px;
  margin: 16px 16px 24px 0;
  display: flex;
  flex-direction: column;
}

.Values__img {
  color: #243e63;
  display: flex;
  gap: 32px;
  justify-content: center;
  align-items: center;
  size: 48px;
}

.value__name {
  font-size: 24px;
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  
  
  
}
.value__icon {
  
  
  color: #6415ff;
  margin-bottom: 16px;
}
